<nav class="navbar navbar-expand-lg navbar-dark p-3 ">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <% if(!signedInUser) { %>
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register" tabindex="-1" aria-disabled="true">Register</a>
            <% } else {%>
            <a class="nav-link" href="/chat">Chat</a>
            <a class="nav-link" href="/profile/<%=signedInUser._id%>">Profile</a>
            <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
            <% } %>
        </div>
    </div>
</nav>