<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/public/styles/styles.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body class="vh-100 d-flex justify-content-center">
    <main class="container-fluid flex-grow-1 d-flex flex-column p-0">
        <%- include("../partials/navbar") %>
        <%- include("../partials/flash") %>
        <%- body %>
        <%- include("../partials/footer") %>
    </main>

    <script src="../js/jquery.slim.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>


</body>

</html>