<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boilerplate</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body class="vh-100 d-flex">
    <main class="container flex-grow-1 d-flex flex-column">
        <%- include("../partials/navbar") %>
        <%- body %>
        <%- include("../partials/footer") %>
    </main>
    <!-- <script language="javascript" src="./js/bootstrap.min.js"></script> -->
    <script src="./js/jquery.slim.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>