<% layout("layouts/boilerplate") %>
<h1>Chat</h1>
<h2>Choose a chat room or set up a new</h2>

<form method="post" action="/chat/room">
    <select name="room" id="option">
        <option value="general">General</option>
        <option value="front-end">Front-end</option>
    </select>
    <button>Go to room</button>
</form>