<% layout("layouts/boilerplate") %>
<div class="row m-auto">
    <div class="col-md-12">
        <div id="landing-page-message">
            <h1>Welcome.</h1>
            <h2>Register or sign in to use the app, <br> happy chatting!</h2>
        </div>
    </div>
</div>