<% layout("layouts/boilerplate") %>
<div class="row m-auto">
    <div class="col-md-12">
        <div id="landing-page-message">
            <p>Welcome.<br>
                <a class="special-link" href="/register">Register</a> or <a class="special-link" href="/login">sign
                    in</a>
                to use the
                app,
                <br> happy chatting!</p>
        </div>
    </div>
</div>