<% layout("layouts/boilerplate") %>

<div class="row d-flex justify-content-center m-auto">
    <div class="col-md-12">
        <div id="form-container">
            <h1>Login</h1>
            <form id="user-form" action="/login" method="POST" novalidate>
                <input type="text" name="username" placeholder="username" required>
                <input type="password" name="password" placeholder="password" required>
                <input class="user-button" type="submit" value="login">
            </form>
        </div>
    </div>
</div>
</div>