<% layout("layouts/boilerplate") %>
<div class="row m-auto">
  <div class="col-md-12">
    <h4 class="border-bottom">Edit your profile</h4>

    <% if(user.profilePic){ %>

    <div class="profile-picture-container">
      <img class="profile-picture" src="/<%=user.profilePic %>" />
    </div>

    <form action="/profile/delete-picture?_method=DELETE" method="POST">
      <button class="btn p-0">Remove picture</button>
    </form>

    <% } else {%>

    <div class="profile-picture-container">
      <img class="profile-picture" src="/public/images/default.jpg" />
    </div>

    <p>Upload profile picture:</p>
    <form action="/profile/upload-picture" method="POST" enctype="multipart/form-data">
      <input type="file" name="picture">
      <input type="submit" value="Save">
    </form>
    <% } %>

    <table>
      <tr class="border-bottom">
        <td class="pr-3">Username:</td>
        <td><%= user.username %></td>
        <td><button type="button" class="btn" data-toggle="modal" data-target="#usernameModal">
            Edit
          </button></td>
      </tr>
      <tr class="border-bottom">
        <td class="pr-3">Email:</td>
        <td><%= user.email %></td>
        <td><button type="button" class="btn" data-toggle="modal" data-target="#emailModal">
            Edit
          </button></td>
      </tr>
    </table>

    <button type="button" id="delete_account" class="btn btn-danger mt-3 " data-toggle="modal"
      data-target="#deleteModal">
      Delete account
    </button>
  </div>
</div>

<!-- username Modal -->
<div class="modal fade" id="usernameModal" tabindex="-1" aria-labelledby="usernameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="usernameModalLabel">Change username</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/profile/update-username?_method=PUT" method="POST">
          <input name="name" type="text" placeholder="Username.. ">
          <input type="submit" value="Update">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- email Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalLabel">Change email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/profile/update-email?_method=PUT" method="POST">
          <input name="email" type="text" placeholder="email.. ">
          <input type="submit" value="Update">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- delete account Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/profile/delete-account?_method=DELETE" method="POST">
          <label for="delete">Click confirm to delete account</label>
          <input class="btn btn-danger" id="delete" type="submit" value="Confirm">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>