@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap');
:root {
    --main: #665888;
    --light: #f9f8f7;
    --speacialblue:#7097cd;
    --specialpink: #be87b2;
}
/* ----------------general styling ------------------*/
html body {
    font-family: 'Open Sans', sans-serif;
    background: var(--main);
    color: black;
}
ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
ul li a {
    color: black;
    text-decoration: none;
}
ul li a:hover {
    color: black;
    text-decoration: none;
}
.hidden {
    display: none
}

/* ----------------styling for navigation------------------------  */
.navbar {
    /* background: var(--light); */
    /* border-bottom: 1px solid grey; */
    
}
.navbar-collapse {
    text-align: center;
}

.nav-link {
    color: black;
}

/*----------- styling for login och register form ---------------*/

#form-container h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding: 5px;
    
}
#user-form{
    display: flex;
    flex-flow: column;
}
#user-form input{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.user-button {
    background: var(--specialpink);
    border: 1px solid black;
}

/* -----------------styling for landing page--------------------  */
#landing-page-message {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    text-align: center;
    /* color: var(--light) */
}
.special-link {
    color: var(--speacialblue)
}
.special-link:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


/*---------------- styling for chat page---------------------- */
.channels-container {
    height: 100px;  
}
.channels-container a {
    padding-left: 1rem;
}
.channel-list {
    padding-top: 3rem;
    height: 100%;
    overflow-y: auto;
}
.channel-item {
    font-size: 2rem;
    height: 3rem;  
    display: flex;
}
.delete_btn {
    border: none;
    align-items: center;
    margin-left: auto;
    background: inherit;
}
.channel-item:hover .hidden{
    display: inline;
    color: var(--specialpink);
}
.channel-item a:hover {
    text-decoration: none;
    font-size: 2.2rem;
}

#add-channel-btn {
    color: var(--speacialblue);
    background: inherit;
    border: none;
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
}

/* -------------------styling for chatroom----------------- */
#room-heading {
    padding: 1rem 0 1rem 0;
    margin: 0;
}
#messages-container {
    height: 100px;
    max-height: 800px;  
    background: var(--light); 
    border-radius: 5px 0 0 0
}
#messages {
    height: 100%;
    overflow-y: auto;
}
#chat-input {
    border-radius: 0 0 0 5px;
    border: none;
    padding-left: 1rem;
}
#chat-input:focus {
    outline: none;
}

#send-btn {
    border: none;
    padding: 0.5rem;
}
.message-item {
    padding: 5px;
    display: flex;
}
.messagepic-container {
    height: 40px;
    width: 40px;
}
.picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 30%;
}
.item-text {
    text-align: left;
    width: 90%;
}
.message-container{
    width: 100%;
    padding-left: 1rem;
}
.sender-date-container{
    text-align: left;
    width: 90%;
}
.item-sender {
    font-weight: bolder;
}
.item-date {
    color: rgb(152, 152, 152);
    font-size: 0.8rem;
}
.delete-btn-container{
    width: 10%;
}
.message-item:hover .hidden{
    display: inline;
}
.message-item:hover{
    background:rgba(244, 244, 244);
}
.users-container {
    background: rgba(244, 244, 244);
    height: 100%;   
    border-radius: 0 5px 5px 0;
}
#this-user-container{
    background: #efefef;
    border-radius: 0 5px 0 0;
    font-weight: 800;
    padding: 5px;    
}

.user-item {
    display: flex;
    padding-left: 5px;
}
.messagepic-container-small {
    height: 20px;
    width: 20px;
}
.picture-small {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 30%;
}

/* ------------------styling for profile page---------------- */
.profile-picture-container {
    height: 200px;
    width: 200px;   
}
.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
/*-------------------styling for footer---------------------- */
footer {
 background: var(--main);
}

/*---------------------styling for flash messages---------------*/
.success {
    font-size: 1.5rem;
    text-align: center;
    color: var(--specialpink);
    font-family: 'Pacifico', cursive;
}
.danger {
    font-size: 1.5rem;
    text-align: center;
    color: #eaa561;
    font-family: 'Pacifico', cursive;
}
