/* general styling */
ul {
    list-style: none;
    padding: 0;
}


/* styling for navigation  */
.navbar {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid grey;    
}
.navbar-collapse {
    text-align: center;
}
/* styling for login och register form */
#form-container {
    border: 1px solid grey;
    padding: 2rem;
}

/* styling for landing page  */
#landing-page-message {
    text-align: center;
}

/* styling for chatroom */
#messages-container {
    height: 100px;
    max-height: 800px;   
}
.messagepic-container {
    height: 40px;
    width: 40px;
}

.picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#messages {
    height: 100%;
    overflow-y: auto;
}

.message-item {
    border: 1px solid grey;
    padding: 5px;
    display: flex;
}

/* styling for profile page */
.picture-container {
    width: 200px;
}

/* styling for footer  */
footer {
    text-align: center;
}